<!DOCTYPE html>
<html><meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>मुख्य पृष्ठ</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="color:rgb(31, 118, 158);" href="#"><h3>🚩शिव-विचार प्रश्नमंजुषा🚩</h3></a>
    </nav>
    <h6 style="text-align:center"><i>आपले स्वागत आहे🙏</i></h6>
    <form action="/thanks" style="text-align:left; margin:10px;" method="post">
        <p><h4>‣ {{Qu}}</h4></p> 
        <div style="text-align:left; margin:25px;">
                <div style="display:inline-block; text-align:left">
        <input type="radio" id="1" name="option" value=1>
        <label for=1>{{op1}}</label><br>
        <input type="radio" id="2" name="option" value=2>
        <label for=2>{{op2}}</label><br>
        <input type="radio" id="3" name="option" value=3>
        <label for=3>{{op3}}</label><br>
        <input type="radio" id="4" name="option" value=4>
        <label for=4>{{op4}}</label><br>
        </div></div>
        <button type="submit" name = "submit" class="btn btn-primary">उत्तर जमा करा </button>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3879518266220123"
     crossorigin="anonymous"></script>
<!-- My Banner Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3879518266220123"
     data-ad-slot="1161938272"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </form>
    
</body>
</html> 
